<!DOCTYPE html>
<html lang="en" class="{{#if htmlWebpackPlugin.options.isProduction}}spera-production{{/if}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0, minimum-scale=1.0, maximum-scale=1, 
    user-scalable=no, shrink-to-fit=yes">
    <meta property="og:url" content="#" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SPERA Style Guide" />
    <meta property="og:description" content="SPERA Style Guide" />
    <meta property="og:image" content="#" />
    <title>{{ htmlWebpackPlugin.options.title }}</title>

    <!-- Plugins -->
    <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.relativePath }}static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.relativePath }}static/plugins/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.relativePath }}static/plugins/fastselect/fastselect.min.css">
    <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.relativePath }}static/plugins/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.relativePath }}static/plugins/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.relativePath }}static/plugins/dropzone/css/dropzone.min.css">
    <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.relativePath }}static/plugins/pickr/css/nano.min.css">
    <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.relativePath }}static/plugins/datepicker/css/datepicker.min.css">
    <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.relativePath }}static/plugins/daterangepicker/css/daterangepicker.css">
    <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.relativePath }}static/plugins/nestable/css/nestable.css">
    <link rel="stylesheet" href="{{ htmlWebpackPlugin.options.relativePath }}static/plugins/chartist/css/chartist.min.css">
</head>